body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #efefef;
  font-size:160%;
}

.outer-container {
  width: 75%;
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
}

.item {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50px 0;
}

.item h1 {
  width: 100%;
  border-bottom: 1px solid transparent;
  font-size: 110%;
  float: left;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.item h1:hover {
  color: #950202;
}

.item .pubDate {
  color: grey;
  font-size: 60%;
  float: right;
  margin: 0;
  padding: 0;
}

.item .description {
  clear: both;
}

.item a {
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 50px 0;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  outline: 0;
}

.item a:hover, .item a:active, .item a:focus {
  box-shadow: 0 0 15px 5px #ccc;
}

.technical {
  font-size: 60%;
}

.footer {
  color: #999;
  text-align: center;
}

.footer a {
  color: inherit;
}

.git_ribbon {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
